<%layout("../layout-simple.html"){ %>

<div class="wrapper" style="height: auto; min-height: 100%;">
    <div class="content-wrapper" style="min-height: 1126px;">
        <section class="content-header">
            <h1>
                个人中心
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
                <li><a href="#">Examples</a></li>
                <li class="active">User profile</li>
            </ol>
        </section>

        <section class="content">
            <div class="row">

            </div>
        </section>
    </div>

</div>

<%} %>