<%layout("../layout-simple.html"){ %>

<div class="content-wrapper" style="min-height: 1126px;">
    <section class="content">
        <div class="error-page">
            <h2 class="headline text-yellow"> 404</h2>

            <div class="error-content">
                <h3><i class="fa fa-warning text-yellow"></i> 噢！页面找不到了。</h3>

                <p>
                    我们找不到您想要的页面！
                    您可以尝试返回或联系工程师。
                </p>

            </div>
        </div>
    </section>
</div>

<%} %>